#CI项目名
name: Mediatek-lede

on:
  #手动编译
  workflow_dispatch:

#CI权限
permissions: write-all

#CI任务
jobs:
  openwrt_config:
    #调用公用编译核心openWRT-CORE.yml
    uses: ./.github/workflows/openWRT-CORE.yml
    with:
      #编译平台
      openWRT_TARGET: Mediatek
      #默认主题
      openWRT_THEME: design
      #默认主机名
      openWRT_NAME: WR30U
      #默认密码，仅作展示，请勿乱改
      openWRT_PW: 无
      #默认地址
      openWRT_IP: 192.168.0.1
      #默认WIFI名
      WRT_WIFI: CMMCC-3875
      #默认源码
      #https://github.com/abandon-xyz/lede.git
      #https://github.com/aiamadeus/lede.git
      #https://github.com/coolsnowwolf/lede.git
      openWRT_URL: https://github.com/coolsnowwolf/lede.git
      #默认分支
      openWRT_BRANCH: master
